.articles-container{
    h1{
        font-size:clamp(20px,3vw,4.5vw);
    }
    .article{
        padding-bottom: 3rem;
        margin: 5% auto;
        height: 100%;
        width: 50vw;
        display: grid;
        grid-template-rows: 50px 1fr 10rem;
        // grid-template-columns: 1fr 50px;    
        grid-template-areas:
        "button" 
        "header"
        "content"
        ;
        .button{
            grid-area: button;
        }
        .title{
            margin: 3% 0;
        }
       .image{
           margin: 0 auto;
       }
        a{
            text-decoration: underline !important;
            color: #ffffff;
        }
    
    }
}

@media only screen and (max-width: 800px) {
.articles-container
    {
        .article {
    display: unset;
    display: grid !important;
    grid-template-areas:
    "button"
    "header "
    "content ";
    .button{
        grid-area: button;
    }
    .content{
        grid-area: content;
    }
    .article-header{
        grid-area: header;
        .title{
            padding: 5% 0;
        }
    }
    .image{
        margin: 0 auto;
        }
    }}
  }




