.header{
    // transition: width 1s ease, opacity 0s ease;

    // width: 0%;
    // opacity: 0;
    // position: absolute;
    
    .site-name{
        border: none !important;
    }
   span, a{
       color: #ffffff;
       text-decoration: none;
   }
   a:not(.log-button){
       border-bottom: 2px solid transparent;
   }

   a:hover:not(.log-button){
       border-bottom: 2px solid #66c3ff;
   }

}
// .header:hover{
//     width: 100%;
//     opacity: 1;
// }