.header{
    .site-name{
        border: none !important;
    }
   span, a{
       color: #ffffff;
       text-decoration: none;
   }
   a:not(.log-button){
       border-bottom: 2px solid transparent;
   }

   a:hover:not(.log-button){
       border-bottom: 2px solid #66c3ff;
   }

}
