.articles-container{
    h1{
        font-size:clamp(20px,3vw,4.5vw);
    }
    .article{
        height: 100%;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        //grid-template-rows: 1fr;
        grid-template-areas: 
        "header content"
        ;
        .article-header{
            grid-area: header;
            display: grid;
            grid-template-areas: 
            "image"
            "title"
            ;
            grid-template-rows: 1fr 50px;
            .image{
                grid-area: image;
            }
            .title{
                grid-area: title;
            }
        }
    
        a{
            text-decoration: underline !important;
            color: #000000;
        }
    
    }
}




