@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    a {
      @apply text-blue-600 underline;
    }
  }

  html,body{
    height: 100%;
  }

  body{
    background-color: #1B1B1B;
  }

  p, h1, h2, h3{
    color: #ffffff !important; 
  }